.storeLogo {
	margin-left: 20px;
}

.phoneContainer {
	padding: 20px 0;
}

.phoneContainer .card-title {
	font-weight: 500;
}

.phoneList .phoneCount {
	padding: 0px 0;
	margin: 0;
	height: 1rem;
	width: 55px;
}
