<!DOCTYPE html>
<html lang="en">
<body class="container">

	<main>
		<div>
			<h1>Sales Homepage</h1>
			<p>Welcome to the sales homepage</p>
		</div>
		<div>
			<h2>Sales API</h2>
			<ul>
				<li><a href="/api/order?orderId=1&billingInfo=true&shippingInfo=true&customerInfo=true&items=true">Get orderId 1 and inflate all elements</a></li>
				<li><a href="/api/order?orderId=1&customerInfo=true">Get orderId 1 and only inflate customerInfo</a></li>
				<li><a href="/api/order/search?customerId=1&billingInfo=true&shippingInfo=true&customerInfo=true&items=true">Search for order where customerId is 1 and all elements are inflated </a></li>
				<li><a href="/api/customer?firstName=Joe">Search for customer where firstName is Joe</a></li>
				<li><a href="/api/customer?email=nottheotherjohn@email.com&phone=5451112222">Search for a customer by email and phone number</a></li>
			</ul>
			<h2>Consumed</h2>
			<ul>
				<li><a href="/consumed/accounting/sale">Accounting - Sale API</a></li>
				<li><a href="/consumed/inventory">Inventory - Phones API</a></li>
				<li><a href="/consumed/inventory/models">Inventory - Models API</a></li>
			</ul>
		</div>
	</main>

</body>
</html>
