<nav class="indigo">
	<div class="store nav-wrapper">
		<a href="/" class="brand-logo storeLogo">Krutz Corp Phones</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/shoppingCart">Shopping Cart</a></li>
			<li><a id="salesRepLink">Sales Rep</a></li>
		</ul>
	</div>
</nav>
