<nav class='black'>
	<div class="store nav-wrapper">
		<a href="/" class="brand-logo storeLogo">Krutz Corp Sales Panel</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/salesRep">Place Order</a></li>
			<li><a href="/newCustomer">New Customer</a></li>
			<li><a href="/" onclick="onSignout()">Sign Out</a></li>
		</ul>
	</div>
</nav>
