<!DOCTYPE html>
<html lang="en">
	<head>
		<title>New Customer</title>
		<%- include header.ejs %>
	</head>
	<body>
		<nav>
			<div class="nav-wrapper teal darken-1">
				<a href="/salesRep" class="brand-logo storeLogo">New Customer</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/">Sign Out</a></li>
				</ul>
			</div>
		</nav>
		<div class='container topSpacing'>
			<script>
				$(document).ready(function() {

					$("select").material_select();

					$( "#createCustomer" ).submit(function( event ) {
						$("#createCustomer .invalid").removeClass("invalid");

						$.post("/api/customer/create", $("#createCustomer").serialize(), function( response ) {
							console.log(response);
							if(response.hasOwnProperty("success") && response.success) {
								$("#createCustomer .invalid").removeClass("invalid");
								$("#createCustomer").trigger("reset");
								Materialize.toast('New business customer added', 4000);
							} else if(response.hasOwnProperty("errors")) {
								for(var input in response.error) {
									$("#" + input).addClass("invalid");
									$("#" + input + " ~ label").attr("data-error", response.error[input]);
								};
							}
						}, "json");
						
						event.preventDefault();
					});
					
					$('.datepicker').pickadate({
						selectMonths: true,
						selectYears: 15,
						format: 'yyyy/mm'
					});
				});
			</script>
			
			<div class="w3-container">
				<div class="row">
					<form id='createCustomer' class="col s12" method="POST" action="">
						<input type='hidden' id='isCompany' name='isCompany' value='1' />
						<label style="font-size:1.5rem;color:#000000;">Customer Information</label>
						<div class="row">
							<div class="input-field col s3">
								<i class="material-icons prefix">business</i>
								<input id="lastName" name="lastName" type="text" class="validate">
								<label for="lastName">Company Name</label>
							</div>
							<div class="input-field col s3">
								<i class="material-icons prefix">account_circle</i>
								<input id="firstName" name="firstName" type="text" class="validate">
								<label for="firstName">Contact Name</label>
							</div>
							<div class="input-field col s3">
								<i class="material-icons prefix">email</i>
								<input id="email" name="email" type="text" class="validate">
								<label for="email">Email Address</label>
							</div>
							<div class="input-field col s3">
								<i class="material-icons prefix">phone</i>
								<input id="phone" name="phone" type="text" class="validate">
								<label for="phone">Phone Number</label>
							</div>
						</div>
						<div style='height:30px;'></div>
						<label style="font-size:1.5rem;color:#000000;">Billing Information</label>
						<div class="row">
							<div class="input-field col s4">
								<i class="material-icons prefix">payment</i>
								<input id="card_number" name="card_number" type="text" class="validate">
								<label for="card_number">Card Number</label>
							</div>
							<div class="input-field col s2">
								<input id="cvc" name="cvc" type="text" class="validate">
								<label for="cvc">CVC Code</label>
							</div>
							<div class="input-field col s3">
								<i class="material-icons prefix">today</i>
								<input id="expiration_date" name="expiration_date" type="date" class="datepicker validate">
								<label for="expiration_date">Expiration</label>
							</div>
						</div>
						<div class="row" style='margin-top:20px;'>
							<div class="input-field col s4">
								<i class="material-icons prefix">location_on</i>
								<input id="address" name="address" type="text" class="validate">
								<label for="address">Address</label>
							</div>
							<div class="input-field col s2">
								<input id="city" name="city" type="text" class="validate">
								<label for="city">City</label>
							</div>
							<div class="input-field col s2">
								<select class="browser-default validate" id="state" name="state">
									<option value="" disabled selected>Select State/Territory</option>
									<% states.forEach(function(st) { %>
										<option value="<%= st.id %>"><%= st.state %></option>
									<% }); %>
								</select>
							</div>
							<div class="input-field col s1">
								<input id="zipcode" name="zipcode" type="text" class="validate">
								<label for="zipcode">Zip Code</label>
							</div>
						</div>
						<div style='height:30px;'></div>
						<button class="btn waves-effect waves-light" type="submit" name="action">
							Create Customer
							<i class="material-icons right">send</i>
						</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>