<!DOCTYPE html>
<html lang="en">
<head>
	<title>Sales Homepage - Store</title>
	<%- include header.ejs %>
</head>
<body>
	<%- include consumer-navbar.ejs %>
	<div class="container storeContainer">
		<h1>Your Order Has Been Placed!</h1>
		<h6>Expected delivery: never</h6>
	</div>
	</div>
</body>
</html>
