<!DOCTYPE html>
<html lang="en">
<head>
	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
	<link rel="stylesheet" href="/assets/css/main.css">

	<script
		src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
		crossorigin="anonymous">
	</script>

	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<nav>
		<div class="nav-wrapper teal darken-1">
			<a href="#" class="brand-logo storeLogo">Store</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#">Shopping Cart</a></li>
				<li><a href="/salesRep">Sales Rep</a></li>
			</ul>
		</div>
	</nav>
</body>
</html>
